DOMAIN=localhost
BACKEND=http://fastapi:8080/
CHAT_MODEL=gpt-4o
OPENAI_API_KEY=
JWT_SECRET_KEY=test_secret
BACKEND_API_KEY=test_key
BACKEND_API_KEY_NAME=AITUTOR-API-KEY
MONGO_USERNAME=user
MONGO_PASSWORD=pass
MONGO_DATABASE=aitutor
ACME_EMAIL=
ANTHROPIC_API_KEY=
