/* hide 0-height iframes */
.element-container:has(iframe[height="0"]) {
  display: none;
}

/* less space between header elements */
hr {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.reportview-container {
  margin-top: -2em;
}

/* #MainMenu { */
/*   visibility: hidden; */
/* } */

.stAppDeployButton {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

#stDecoration {
  display: none;
}

/* .st-af, */
/* .st-ae { */
/*   justify-content: center; */
/* } */

stElementContainer {
  justify-content: center;
}

/* fonts */

stChatInput,
code,
pre,
/* .token, */
h1,
h2,
h3,
/* [class|="st"], */
span,
kbd {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

textarea,
strong,
.st-ax,
body,
html,
em,
hi,
a,
li,
p {
  font-family: "Montserrat";
}

/* [class|="st-emotion"] { */
/*   font-family: "Material Symbols Rounded"; */
/*   font-weight: 400; */
/* } */
