/* hide 0-height iframes */
.element-container:has(iframe[height="0"]) {
  display: none;
}

/* less space between header elements */
hr {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.reportview-container {
  margin-top: -2em;
}

/* #MainMenu { */
/*   visibility: hidden; */
/* } */

.stAppDeployButton {
  visibility: hidden;
}

.stMetric {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  visibility: hidden;
}

#stDecoration {
  display: none;
}

/* [data-baseweb="button-group"] { */
/*   justify-content: center; */
/* } */
.stButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

stElementContainer {
  justify-content: center;
  /* margin-top: 0rem; */
  /* margin-bottom: 2rem; */
}

/* fonts */
[data-testid="stChatMessageAvatarAssistant"] {
  display: flex;
  align-items: center;
}

stChatInput,
code,
pre,
/* .token, */
[data-testid="stHeadingWithActionElements"] h1,
.stMetric,
h1,
h2,
h3,
h4,
h5,
/* [class|="st"], */
span,
kbd {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

textarea,
strong,
.st-ax,
body,
html,
em,
hi,
a,
li,
p {
  font-family: "Montserrat";
}

/* [class|="st-emotion"] { */
/*   font-family: "Material Symbols Rounded"; */
/*   font-weight: 400; */
/* } */
